/* applies to anything of class "example-class-selector" */
.example-class-selector {
    margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
    /* Colors are in hexadecimal: http://www.colorpicker.com/ */    
    color: #CC00AA;
}

html, body, .container {
    height: 100%;
}

.jumbotron {
    position: relative;
    background: none;
}

.jumbotron:after {
    content:"";
    background: url("../images/lorempixel.jumbotron.jpeg");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;    
}

.jumbotron p {
    color: #6e6e6e;
}

.jumbotron img {
    padding: 5px;
    float:left;
}

.profile {
    margin-bottom: 20px;
}

.profile div, video, canvas {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#googleMaps {
    height: 400px;
}

#map {
    height: 90%;
}

#camera-video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#camera-canvas {
    object-fit: cover;
    width: 200px;
    height: 200px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

